# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos de logs
*.log

# Ignorar carpetas de compilación
/dist
/build

# Ignorar credenciales o configuraciones locales
.env
.env.local

# Ignorar archivos de sistema
.DS_Store
Thumbs.db